PyCity Schools Analysis

In [62]:
#Dependencies
import pandas as pd

In [63]:
#Path to files 
School_file="Resources/schools_complete.csv"
Student_file="Resources/students_complete.csv"

#Read csv files and store in pandas dataframe
School_file_df=pd.read_csv(School_file)
Student_file_df=pd.read_csv(Student_file)

#combine the 2 files data into one dataset
Combined_schools_data_df = pd.merge(Student_file_df, School_file_df, how="left",on=["school_name","school_name"])
Combined_schools_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [64]:
#used combined dataset to get total schools in district
school_count=len(Combined_schools_data_df["school_name"].unique())
print(school_count)

15

In [65]:
#Used combined dataset to get total students in district
student_count= len(Combined_schools_data_df["student_name"])
print(student_count)

39170

In [66]:
#used schools dataframe to get total budget in district
total_budget= School_file_df["budget"].sum()
print(total_budget)

24649428

In [67]:
#calculate average math score but getting mean of entire "math_score" column
average_math_score=(Combined_schools_data_df["math_score"]).mean()
print(average_math_score)

78.98537145774827

In [68]:
#calculate average reading score but getting mean of entire "reading_score" column
average_reading_score=(Combined_schools_data_df["reading_score"]).mean()
print(average_reading_score)

81.87784018381414

In [69]:
#used combined dataset to filter the number of students whos math scores where above 70 and divided that value by total student in district
passed_math_count=Combined_schools_data_df[(Combined_schools_data_df["math_score"]>=70)].count()["student_name"]
percent_passed_math= passed_math_count/float(student_count) * 100
percent_passed_math

74.9808526933878

In [70]:
#used combined dataset to filter the number of students whos reading scores where above 70 and divided that value by total student in district
passed_reading_count=Combined_schools_data_df[(Combined_schools_data_df["reading_score"]>=70)].count()["student_name"]
percent_passed_reading= passed_reading_count/float(student_count) * 100
percent_passed_reading

85.80546336482001

In [71]:
#used combined dataset to filter the number of students whos math and reading scores where above 70 and divided that value by total student in district
passed_math_reading_count=Combined_schools_data_df[(Combined_schools_data_df["math_score"]>=70) & (Combined_schools_data_df["reading_score"]>=70)].count()["student_name"]
percent_passed_overall=passed_math_reading_count/ float(student_count)*100
percent_passed_overall

65.17232575950983

In [72]:
#Created dataframe with a dictionary, created column names with corresponding value containing calculations from above lines
District_Summary = pd.DataFrame({"Total Schools":[school_count],"Total Students":[student_count], "Total Budget": [total_budget], "Average Math Score": [average_math_score],"Average Reading Score":[average_reading_score],"% Passing Math":[percent_passed_math], "% Passing Reading":[percent_passed_reading], "% Overall Passing":[percent_passed_overall]})
#Formatting columns 
District_Summary["Total Students"] = District_Summary["Total Students"].map("{:,}".format)
District_Summary["Total Budget"] = District_Summary["Total Budget"].map("${:,.2f}".format)
District_Summary[["% Passing Math","% Passing Reading","% Overall Passing"]] = District_Summary[["% Passing Math","% Passing Reading","% Overall Passing"]].applymap("{:,.6f}%".format)

District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853%,85.805463%,65.172326%

School Summary

In [73]:
#school type for each school
School_Types= School_file_df.set_index(["school_name"])["type"]
School_Types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [74]:
#Use combined dataset to group by schools
Schools=Combined_schools_data_df.set_index(["school_name"]).groupby(["school_name"])

Total_Students_per_school= Schools["student_name"].count()

Total_Students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [75]:
#Budget per school
Budget_Per_School = School_file_df.groupby(["school_name"]).mean()["budget"]
Budget_Per_School
#Budget allocated per student
Per_School_Capita = Budget_Per_School / Total_Students_per_school
Per_School_Capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [76]:
#Calculating average math schools per school
per_school_math = Schools["math_score"].mean()
per_school_math
#Calculating average reading schools per school
per_school_reading = Schools["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64