In [1]:
#Dependencies
import pandas as pd

In [4]:
#Path to files 
School_file="Resources/schools_complete.csv"
Student_file="Resources/students_complete.csv"

#Read csv files and store in pandas dataframe
School_file_df=pd.read_csv(School_file)
Student_file_df=pd.read_csv(Student_file)

#combine the 2 files data into one dataset
Combined_schools_data_df = pd.merge(Student_file_df, School_file_df, how="left",on=["school_name","school_name"])
Combined_schools_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
school_count=len(Combined_schools_data_df["school_name"].unique())
print(school_count)

15

In [8]:
student_count= len(Combined_schools_data_df["student_name"])
print(student_count)

39170

In [18]:
total_budget= School_file_df["budget"].sum()
print(total_budget)

24649428

In [24]:
average_math_score=(Combined_schools_data_df["math_score"]).mean()
print(average_math_score)

78.98537145774827

In [25]:
average_reading_score=(Combined_schools_data_df["reading_score"]).mean()
print(average_reading_score)

81.87784018381414

In [26]:
passed_math_count=Combined_schools_data_df[(Combined_schools_data_df["math_score"]>=70)].count()["student_name"]
percent_passed_math= passed_math_count/float(student_count) * 100
percent_passed_math

74.9808526933878

In [27]:
passed_reading_count=Combined_schools_data_df[(Combined_schools_data_df["reading_score"]>=70)].count()["student_name"]
percent_passed_reading= passed_reading_count/float(student_count) * 100
percent_passed_reading

85.80546336482001

In [28]:
passed_math_reading_count=Combined_schools_data_df[(Combined_schools_data_df["math_score"]>=70) & (Combined_schools_data_df["reading_score"]>=70)].count()["student_name"]
percent_passed_overall=passed_math_reading_count/ float(student_count)*100
percent_passed_overall

65.17232575950983